
#workProgress{
	width:1040px;
}
#workProgress ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: skyblue;
}

#workProgress li {
  float: left;
  width:130px;
}

#workProgress li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#workProgress .doneWind {
  background-color: #4CAF50;
}
#workProgress .workingWind {
  background-color: orange;
}
#workProgress .waitingWind {
  background-color: skyblue;
}