<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="IGRPortalWeb" version="3.0">
  <display-name>IGRPortalWeb</display-name>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
  </filter>
  <filter>
    <filter-name>SessionTimeoutFilter</filter-name>
    <filter-class>com.igr.commonUtility.SessionTimeoutFilter</filter-class>
  </filter>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.igr.commonUtility.CharacterEncodingFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionTimeoutFilter</filter-name>
    <!-- <url-pattern>/commonJsp/errorPage.jsp</url-pattern> -->
	<!--result name="error">/commonJsp/errorPage.jsp</result-->
	<url-pattern>/commonJsp/globalErrorPage.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>IGRStartupServlet</servlet-name>
    <servlet-class>com.igr.commonUtility.IGRStartupServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.igr.commonUtility.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/servlet/DownloadServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>/commonJsp/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
    <cookie-config>
      <path>/</path>
      <http-only>true</http-only>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>openresource</web-resource-name>
      <url-pattern>/commonJsp/errorPage.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>opentoall</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <error-page>
    <location>/commonJsp/errorPage.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>Captcha</servlet-name>
    <servlet-class>com.igr.commonUtility.CaptchaServlet</servlet-class>
    <init-param>
      <description>passing height</description>
      <param-name>height</param-name>
      <param-value>30</param-value>
    </init-param>
    <init-param>
      <description>passing height</description>
      <param-name>width</param-name>
      <param-value>120</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Captcha</servlet-name>
    <url-pattern>/Captcha.jpg</url-pattern>
  </servlet-mapping>
</web-app>